.container-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.item {
  bottom: 0;
}


@media only screen and (max-width: 600px) {
  .con {
    width: 100% !important;
  }

  .items {
    width: 90% !important;
  }


}

@media only screen and (max-width: 300px) {
  .remove {
    font-size: 0.8rem;
  }


}

@media only screen and (max-width: 1500px) {
  .texts {
    font-size: 1.5rem !important;
  }


}

@media only screen and (max-width: 1024px) {
  .card-items {
    flex-direction: column;
  }

  .card-items:nth-child() {
    margin: 10px;
  }

  .container-grid {
    flex-direction: column;
  }
}